a.key {
	display: block;
	width: 50px;
	margin: 2px;
	text-align: center;
	border: solid 1px #ececec;
	float: left;
}

br.clear {
	clear:both;
}

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: #272a32;	
}

#container {
	padding: 0;
	margin: 0;
	list-style: none;
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#container video {
	display: block;
	position: relative;
}

#container div.vid {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	border: 1px solid transparent;
}

#container div.vid.calling i {	
	border-radius: 48px;
    -webkit-animation: glow 1.0s infinite alternate;  
    	-moz-animation: glow 1.0s infinite alternate;
    		animation: glow 1.0s infinite alternate;
     -webkit-transition: border 1.0s linear, box-shadow 1.0s linear;
       -moz-transition: border 1.0s linear, box-shadow 1.0s linear;
            transition: border 1.0s linear, box-shadow 1.0s linear;
}

#container div.vid.connected:hover i {
	display: none;
}

div.keyPad {
	position: absolute;
	text-align: center;
	left: 50%;
	top: 50%;
	margin-left: -81px;
	margin-top: -88px;
}

#container div.vid.connected:hover div.keyPad {
	display: block;
}

#container div.vid div.keyPad {
	display: none;
}

div.keyPad a.keypadKey {
	display: inline-block;
	border: solid 1px #fff;
	width: 32px;
	height: 32px;
	line-height: 32px;
	border-radius: 16px;
	margin: 5px 10px;
	color: #fff;
	text-decoration: none;
}

div.keyPad a.keypadKey:hover {
	background-color: #fff;
	color: #333;
}


div.name {
	text-shadow: 0px 0px 10px #000;
	text-align: center;
	z-index: 1;
	position: relative;
	color: white;
	font-family: sans-serif;
	font-size: 20px;
	margin-top: -40px;
}

#voximplantlocalvideo {
	position: fixed;
	right: 10px;
	bottom: 10px;
	width: 200px;
	height: 150px;
	z-index: 1000;
	border: solid 1px #fff;
}

#screenShareControls {			
	position: fixed;
	top: 10px;
	left: 10px;
	z-index: 9999;
	background-color: black;
}

#screenShareControls a {
	color: white;
	display: inline-block;
	border: solid 1px white;
	padding: 10px 5px;
	text-decoration: none;
}

#screenShareControls a:hover {
	background-color: white;
	color: #3c83af;
}

video.screensharing {
	position: absolute;
	top: 15px;
	left: 15px;
	z-index: 9999;
	width: 50%;
	height: 50%;
}

div.tip {
	color: #fff;
	font-family: sans-serif;
  	font-size: 18px;
}

div.pstnImage {
	width: 100%;
	height: 100%;
	text-align: center;
}

div.pstnImage i.uk-icon-phone-square {
	position: absolute;
	display: block;
	width: 256px;
	font-size: 256px;
	color: #fff;
	top: 50%;
	left: 50%;
	margin-top: -128px;
	margin-left: -128px;
}

#control_panel {
	position: fixed;
	min-width: 1120px;
	width: 100%;
	height: 50px;
	background-color: #41454e;
	z-index: 1001;
	box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
	line-height: 50px;
  	color: #fff;
  	font-family: sans-serif;
  	margin-left: 0px;
}

#control_panel img, #control_panel form {
	float: left;
}

#control_panel img {
	margin-top: 5px;
	margin-right: 20px;
}

#control_panel .uk-form-width-large {
	width: 400px;
}

#accessURL_input {
	line-height: 16px;
}

.spinner {
  margin-top: 15px;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #fff;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

@-webkit-keyframes glow {
    to {
         border-color: #fff;
    -webkit-box-shadow: 0 0 5px #fff;
       -moz-box-shadow: 0 0 5px #fff;
            box-shadow: 0 0 5px #fff;
    }
}

@keyframes glow {
	to {
         border-color: #fff;
    -webkit-box-shadow: 0 0 5px #fff;
       -moz-box-shadow: 0 0 5px #fff;
            box-shadow: 0 0 5px #fff;
    }
}